@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  height: 100%;
}

.my_slider_image {
  @apply lg:w-full lg:h-full lg:opacity-0 object-contain block  lg:absolute top-0 bottom-0 left-0 right-0;
}

.hp-slide__title {
  @apply mt-7 lg:mt-0 text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl mb-5 lg:leading-[58px] text-center lg:text-left;
}

.hp-slide__text {
  @apply text-lg md:text-xl lg:text-2xl lg:leading-9 2xl:text-2xl 2xl:leading-10 text-center lg:text-left;
}

.mySlider .slick-list {
  @apply !h-full;
}
.mySlider .slick-track {
  @apply !h-full;
}

.mySlider .slick-slide img {
  @apply !h-full;
  /* @apply !w-auto; */
}
/* 
.slick-slider .slick-track {
  @apply w-10/12 xl:w-8/12;
} */

.mySlider .slick-slide > div {
  @apply !h-full;
}

.mySlider .slick-prev {
  @apply !left-6 z-30;
}

.mySlider .slick-next {
  @apply !right-6 z-30;
}

.changeColorLabel .dzu-inputLabel {
  @apply text-white;
}
.changeColorLabel {
  @apply hover:!bg-[#373D51] hover:!border-white;
}

.react-confirm-alert-body {
  @apply !text-center;
}
.react-confirm-alert-body h1 {
  @apply text-center text-2xl mb-4 text-gray-800;
}

.react-confirm-alert-button-group {
  @apply !justify-center;
}

.react-confirm-alert-button-group button {
  @apply first:bg-red-600;
}

/* .myTypewriter .Typewriter__cursor {
  @apply hidden;
} */

.setCostomeModal .header_ {
  @apply bg-[#101828];
}
.setCostomeModal .body_ {
  @apply bg-[#101828];
}

.setCostomeModal {
  @apply !bg-black/80;
}

.react-confirm-alert-overlay {
  @apply !bg-black/50;
}

@media (min-width: 1024px) {
  .setCustomINdex {
    @apply !scale-[1.05] overflow-hidden;
  }
}

@media (min-width: 1280px) {
  .setCustomINdex {
    @apply !scale-[1.010] overflow-hidden rounded-[55px];
  }
}

@media (min-width: 1537px) {
  .setCustomMedia {
    height: auto !important;
  }
  .setCustomINdex {
    @apply !scale-105 overflow-hidden;
  }
}

@keyframes pulse {
  0% {
    background-color: #44366a; /* Initial color */
    opacity: 1;
  }
  50% {
    background-color: #44366a; /* Initial color */
    opacity: 0.5;
  }
}

.myAG_table .ag-root-wrapper {
  @apply bg-transparent border-0;
}

.myAG_table .ag-row {
  @apply bg-gray-800 !border-gray-700;
}

.myAG_table .ag-ltr .ag-cell {
  @apply text-white;
}

.myAG_table .ag-header-viewport {
  @apply bg-gray-900 !border-gray-50;
}

.myAG_table .ag-header-cell-text {
  @apply text-white;
}

.myAG_table .ag-header {
  @apply !border-0;
}

.myAG_table .ag-icon-asc,
.myAG_table .ag-icon-desc {
  @apply !text-white;
}

.myAG_table .ag-paging-panel {
  @apply !text-white;
}

.myAG_table .ag-paging-button {
  @apply !text-white;
}
.myAG_table .ag-icon {
  @apply !text-white;
}

.myAG_table .ag-wrapper {
  @apply !bg-transparent;
}

/* .myAG_table .ag-paging-page-size {
  display: none;
} */
